# This is an example of an environment variable file for the client application. 
# You can copy this file to `.env` and modify the values as needed for your development or production environment.
# Make sure to replace the API URL with the correct endpoint for your relay server.

# API URL for the client to communicate with the relay-server
VITE_API_URL=http://localhost:3001

# RPC URL for connecting to the Ethereum network (e.g., Ganache, Infura, Alchemy)
VITE_RPC_URL=http://127.0.0.1:7545