# Server Configuration
PORT=3001

# Blockchain Configuration (Ganache)
RPC_URL="http://127.0.0.1:7545"

# Smart Contract Address (auto generated, replace with actual address after deployment)
CONTRACT_ADDRESS="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Relayer Private Key (Gas Payer)
RELAYER_PRIVATE_KEY="0xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Security (JWT Secret)
JWT_SECRET="jamu_bakar_khas_ngawi_enak_banget"